body {
  min-height: 500px;
  padding-top: 70px;
}

#target_select {
  width: 400px;
}

#target_duration {
  width: 100px;
}

#target_format {
  width: 125px;
}

.admin-label {
    font-size: 20px;
    font-weight: normal;
}

input#username.form-control.admin-input {
    width: 350px;
}
