{{ define "content" }}

<div class="row">
    {{ if admin }}
    <div class="col-lg-6">
      <h3>Add Administrator</h3> 
      <form class="tester" action="/admins/add" method="post">
        <div class="form-group tester">
          <label for="username">Username</label>
          <input type="text" class="form-control admin-input" id="username" name="username">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        </div>
        <button type="submit" class="btn btn-primary btn-md">Add Administrator</button>
      </form>
    </div>
    {{ end }}
</div>

 <hr/>
{{ if .admins }}
<p>There are {{ len .admins }} administrators</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
     </tr>
  </thead>

  <tbody>
{{ range $key, $value := .admins }}
     <tr>
       <td><a href="/admins/details/{{ $value.Username }}">{{ $value.Username }}</a></td>
    </tr>
{{ end }}
  </tbody>
</table>

{{ end }}

{{ end }}
