{{ define "content" }}

  <h3>Add Administrators</h3> 
 <form action="/admins/add" method="post">
     <div class="form-inline">
     <label class="admin-label" for="username">Email Address</label>
     <input type="text" class="form-control admin-input" id="username" name="username">
	 <label><input type="checkbox" id="global_admin" name="global_admin" value=true checked="checked"> Global admin?</label><br>
     <button type="submit" class="btn btn-primary btn-md">Add Administrator</button>
     </div>
 </form>

 <hr/>

{{ if .admins }}
<p>There are {{ len .admins }} administrators</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Global Admin</th>
     </tr>
  </thead>

  <tbody>
{{ range $key, $value := .admins }}
     <tr>
       <td><a href="/admins/details/{{ $value.Username }}">{{ $value.Username }}</a></td>
       <td><a href="/admins/details/{{ $value.Username }}">{{ if $value.GlobalAdmin }}True{{ else }}False{{ end }}</a></td>
    </tr>
{{ end }}
  </tbody>
</table>

{{ end }}

{{ end }}
