{{ define "content" }}

<p>hello, {{.username}}.</p>
<p>The selected <strong>Target</strong> will determine your level of access for the <strong>Duration</strong> of the session.</p>
<form class="form-inline" method="post" action="/become">
  <div class="form-group">
    <label for="target_select">Target Name</label>
    <select id="target_select" class="form-control" name="target_id">
{{ range $key, $val := .assoc }}
      <option value="{{ $val.Assoc.AssociationID }}">Role {{ $val.TargetName }} | ({{ $val.AccountNumber }})</option))>
{{ end }}
    </select>

    <label for="target_duration">Duration</label>
    <select id="target_duration" class="form-control" name="duration">
      <option value="3600">3600</option>
      <option value="8000">8000</option>
      <option value="162400">162400</option>
    </select>

    <label for="target_format">Format</label>
    <select id="target_format" class="form-control" name="format">
      <option value="console">Console</option>
      <option value="credentials">Credentials File</option>
      <option value="thingy">THingy</option>
    </select>
  </div>
  <input type="hidden" name="sisdfsdfs" value="le30493049">
  <input type="hidden" name="sdfsdfsdfsdfs22" value="ffff">
  <button type="submit" class="btn btn-primary">Become</button>
</form>

{{ end }}
