{{ define "content" }}
{{ if .assoc }}
<h1>hello, <strong>{{.username}}</strong></h1>
<hr/>

<p>The selected <strong>Target Name</strong> will determine your type of access for the <strong>Duration</strong> of the session.</p>
<p class="help-block">Format Types:</p>
<p>
  <ul>
    <li><strong>Console</strong> will launch the AWS console in a new window.</li>
    <li><strong>Credentials File</strong> will download a credentials file to your computer. This file can then be placed in <code>~/.aws/credentials</code></li>
  </ul>
</p>
<form method="post" action="/become">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="target_select">Target Name</label>
      <select id="target_select" class="form-control" name="target_id">
      {{ range $key, $val := .assoc }}
        <option value="{{ $val.Assoc.ID }}">{{ $val.Assoc.Name }} | ({{ $val.AccountNumber }} | type: {{ $val.Assoc.Type }})</option>
      {{ end }}
        <option value="fb4aba53-3094-439b-8e8b-db9657e3e7c0">AWS Super Secret (shouldn't have access)</option>
      </select>
    </div>
     <div class="form-group col-md-2">
       <label for="target_duration">Duration</label>
       <select id="target_duration" class="form-control" name="duration">
         <option value="3600">3600</option>
         <option value="8000">8000</option>
         <option value="162400">162400</option>
       </select>
     </div>

    <div class="form-group col-md-2">
      <label for="target_format">Format</label>
      <select id="target_format" class="form-control" name="format">
        <option value="console">Console</option>
        <option value="credentials">Credentials File</option>
        <option value="thingy">THingy</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="target_group_mapping">Second Factor</label>
      <input type="text" class="form-control" id="second_factor" name="second_factor" value="push">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Consoleize Me!</button>
  <!-- <button type="submit" class="btn btn-primary">Consoleize Me!</button> -->
  <input type="hidden" name="_csrf_token" value="{{ .csrf_token }}">

</form>

{{ else }}
<p>Sorry, you don't have any targets available.</p>
{{ end }}

{{ end }}
