{{ define "content" }}

<h3>Target: {{ .target.Name }}</h3>
<hr/>

<h3>Edit Target</h3>
<form method="post">
  <input type="hidden" name="target_id" value="{{ .target.ID }}">
  <input type="hidden" name="_csrf_token" value="{{ .csrf_token }}">
  <div class="form-group">
    <label for="target_name">Target Name</label>
    <input type="text" class="form-control" id="target_name" name="target_name" value="{{ .target.Name }}">
  </div>
  <div class="form-group">
    <label for="target_type">Target Type</label>
    <select class="form-control" name="target_type" id="target_type">
    <option value="role" {{ if eq .target.Type "role"}}selected{{ end }}>IAM Role</option>
    <option value="user" {{ if eq .target.Type "user"}}selected{{ end }}>Federated IAM User</option>
    </select>
  </div>
  <div class="form-group">
    <label for="target_user">Target ARN</label>
    <input type="text" class="form-control" id="target_arn" name="target_arn" value="{{ .target.ARN }}">
  </div>
  <div class="form-group">
    <label for="target_external_id">External ID</label>
    <input type="text" class="form-control" id="target_external_id" name="target_external_id" value="{{ .target.ExternalID}}">
  </div>
  <div class="form-group">
    <label for="target_fed_creds">Federation Keys</label>
    <var>Only applicable for targets of type: Federation User</var>
    <input type="text" class="form-control" id="target_fed_creds" name="target_fed_creds" value="{{ .target.FederatedCredentials }}">
  </div>
  <div class="form-group">
    <label for="target_group_mapping">Mapped Group</label>
    <input type="text" class="form-control" id="target_group_mapping" name="target_group_mapping" value="{{ .target.GroupMapping }}">
  </div>
  <div class="form-group">
    <label for="target_group_mapping">Second Factor</label>
	<input type="text" class="form-control" id="second_factor" name="second_factor" value="push">
  </div>
   <div class="btn-group" role="group">
     <button type="submit" method="post" formaction="/targets/update" class="btn btn-primary btn-lg">Update Target</button>
     <button type="submit" method="post" formaction="/targets/remove" class="btn btn-danger btn-lg">Delete Target</button>
   </div>
</form>

{{ end }}
